<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container">
    <h4 style="color: orange; margin-top:20px">Detalhes Pokemon</h4>
    <hr style="margin-bottom: 30px;">
    <div class="12">
        <div class="col-5">
            <h1 style="font-size:25px;color: #8D8D8D;padding-top: 0;margin-top: 32px; margin-bottom: 5px;">
                Habilidades
            </h1>
            <p *ngFor="let ability of abilities" style="font-weight: 40;font-size: 20px;margin-bottom: 6px;">
                {{ability}}
            </p>

            <h1 style="font-size:25px;color: #8D8D8D;padding-top: 0;margin-top: 32px; margin-bottom: 5px;">
                Experiencia base
            </h1>
            <p style="font-weight: 40;font-size: 20px;margin-bottom: 6px;">
                {{pokemonDetails.base_experience}}
            </p>

            <h1 style="font-size:25px;color: #8D8D8D;padding-top: 0;margin-top: 32px; margin-bottom: 5px;">
                Altura
            </h1>
            <p style="font-weight: 40;font-size: 20px;margin-bottom: 6px;">
                {{pokemonDetails.height}}
            </p>

            <h1 style="font-size:25px;color: #8D8D8D;padding-top: 0;margin-top: 32px; margin-bottom: 5px;">
                Movimentos
            </h1>
            <p *ngFor="let move of moves" style="font-weight: 40;font-size: 20px;margin-bottom: 6px;">
                {{move}}
            </p>
        </div>

        <div class="col-5">
            <h1 style="font-size:25px;color: #8D8D8D;padding-top: 0;margin-top: 32px; margin-bottom: 5px;">
                Habilidades
            </h1>
            <p *ngFor="let ability of abilities" style="font-weight: 40;font-size: 20px;margin-bottom: 6px;">
                {{ability}}
            </p>

            <h1 style="font-size:25px;color: #8D8D8D;padding-top: 0;margin-top: 32px; margin-bottom: 5px;">
                Experiencia base
            </h1>
            <p style="font-weight: 40;font-size: 20px;margin-bottom: 6px;">
                {{pokemonDetails.base_experience}}
            </p>

            <h1 style="font-size:25px;color: #8D8D8D;padding-top: 0;margin-top: 32px; margin-bottom: 5px;">
                Altura
            </h1>
            <p style="font-weight: 40;font-size: 20px;margin-bottom: 6px;">
                {{pokemonDetails.height}}
            </p>

            <h1 style="font-size:25px;color: #8D8D8D;padding-top: 0;margin-top: 32px; margin-bottom: 5px;">
                Movimentos
            </h1>
            <p *ngFor="let move of moves" style="font-weight: 40;font-size: 20px;margin-bottom: 6px;">
                {{move}}
            </p>

        </div>
    </div>
</div>